name: Cypress Typescript Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Cypress Test
        uses: cypress-io/github-action@v5.1.0
        with:
          node-version: 16